@import 'src/styles/variables';
@import 'src/styles/typography';
@import 'src/styles/responsive';

.pageLayout {
  position: relative;
  min-height: 100vh;
  overflow: hidden;
  padding-bottom: em(80px);
}

.mobile {
  @include mobile-up {
    display: none !important;
  }
}

.nonMobile {
  @include mobile {
    display: none !important;
  }
}

.mobileReversed {
  @include mobile {
    flex-direction: column-reverse !important;
  }
}

/*
 General styles for page elements
 */

//index page styles
// TODO: przeniesc style dotyczące index page'a do osobnego pliku
$badge-background: $white;
$badge-shadow: 0 6px 16px 1px rgba($black, .19);
$second-section-background-color: $chablis;
$filters-section-background: linear-gradient(45deg,$flamingo,$flamingo 36%, $radical-red);
$pinned-map-section-bg: $alabaster;
$mobileAppButtonBackground: linear-gradient(45deg,$flamingo,$flamingo 36%, $radical-red);

.section {
  @extend %font-size-medium;
  position: relative;
}

.intro {
  padding-top: em(120px, 15px);

  @include mobile-up {
    padding-top: em(160px, 15px);
    background-image: url(../../images/background_top.png);
    background-size: cover;
    background-repeat: no-repeat;
  }
}

.badge {
  @extend %font-size-copy;
  height: 87px;
  width: 87px;
  margin-bottom: em(58);
  box-shadow: $badge-shadow;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: $badge-background;
  align-self: flex-start;
}

.intro-icon-wrapper {
  @extend %font-size-medium;

  display: flex;
  width: 100%;
  margin-top: 1em;

  img {
    width: 35px;
  }

  .icon-link + .icon-link {
    margin-left: 60px;

    @include mobile {

    }
  }
}


.friendly-places {
  margin-top: em(180px, 15px);
  padding-bottom: em(75px, 15px);

  @include mobile {
    margin-top: 0;
  }
}

.skewed-background {
  background: $second-section-background-color;
  transform: skew(0, 6deg);
  height: 100%;
  top: 80px;
}

.skewed-background-wrapper,
.skewed-background {
  position: absolute;
  right: 0;
  left: 0;
  z-index: $underneath;
}

.skewed-background-wrapper {
  overflow: hidden;
  top: -110px;
  bottom: -30px;

  @include mobile {
    top: -250px;
    bottom: 300px;
  }
}

.details-view {
  padding-bottom: em(25px, 15px);

  .detailsViewFeature {
    @include mobile {
      flex-direction: column-reverse;
    }
  }
}


.filters {
  padding: em(100px, 15px) 0 em(50px, 15px);
  background: $filters-section-background;
  overflow: hidden;
}

//these styles are explicitly typed for custom header
.filters-header {
  span {
    color: $white;
  }
}

.filters-copy {
  color: $white;
}

.filters-section-content {
  width: 75%;
  display: flex;
  flex-flow: row wrap;
  margin: 0 auto;
  align-items: center;

  @include tablet {
    width: auto;
    padding: 0 2em 0 0;
  }

  @include mobile {
    flex-flow: column-reverse;
    padding: 0;
  }
}

.filters-list {
  @extend %font-size-medium;

  padding-right: em(30px, 15);
  margin-right: em(90px, 15);
  flex: 1;

  @include tablet {
    padding-right: 0;
    margin-right: 1em;
  }
}

.filter-story {
  width: 40%;

  @include mobile {
    width: 90%;
    margin-bottom: 3em;
  }
}

.pinned-map {
  padding: em(88px, 15px) 0 em(77px, 15px);
  background-color: $pinned-map-section-bg;
  background-image: url(../../images/pinnedmap_bg.png);
  background-repeat: no-repeat;
  background-position-x: 130%;
}

.app-links-section {
  padding: em(150px, 15px) 0;
}

.container {
  @extend %font-size-copy;

  width: 50%;
  max-width: em(710, 14);
  margin: 0 auto;

  @include tablet {
    width: 70%;
  }
}

.container .extended-story {
  max-width: em(425px, 14px);
  margin: 0 auto;
}

.appLinks {
  display: flex;
  flex-flow: row nowrap;

  .store {
    @extend %font-size-small;

    img {
      max-height: em(38px, 11px);
    }
  }

  .store + .store {
    margin-left: 2em;
  }

  @include mobile {
    flex-flow: row wrap;

    .store {
      margin-top: 1em;
      margin-right: 2em;
    }

    .store + .store {
      margin-left: 0;
    }
  }
}

.doggo-wrapper {
  @extend %font-size-normal;
  position: absolute;
  top: 140px;
  z-index: $topmost;
  transform: translateX(-80%);
  width: em(420px, 16px);

  @include tablet {
    left: 40%;
    top: 29%;
  }

  @include mobile {
    left: 60%;
  }
}

.map-blob {
  position: absolute;
  left: -10%;
  top: 23%;

  @include tablet {
    left: -30%;
  }


  @include mobile {
    display: none;
  }
}

.cattoWrapper {
  @extend %font-size-normal;

  position: absolute;
  width: em(550);
  bottom: -140px;
  right: -164%;

  @include tablet {
    bottom: em(-60px);
    right: em(-520px);
  }

  @include mobile {
    bottom: unset;
    top: em(370px);
    right: em(-340px);
  }
}

.pinnedSectionMock {
  display: flex;
  justify-content: center;
  padding-left: em(70px);

  @include mobile {
    padding-left: 0;
  }
}

.thinDoggoImage {
  position: absolute;
  left: -10px;
  bottom: 0;
  max-width: 280px;

  @include tablet {
    max-width: 200px;
    left: -30px;
  }

  @include mobile {
    max-width: 240px;
  }
}

//TODO: extract common style of wrappers to a separate class or mixin

.doggoPinWrapper {
  position: absolute;
  right: -33%;
  top: 55%;

  @include tablet {
    right: -50%;
  }
}

.pawPinWrapper {
  position: absolute;
  top: 0;
  left: -25%;
}

.groomPinWrapper {
  position: absolute;
  top: 0;
  right: 0;
}

.filterPinWrapper {
  position: absolute;
  margin: 0 auto;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: $top;
}

.housePinWrapper {
  position: absolute;
  right: -20%;
  bottom: 4%;
}

.bowlPinWrapper {
  position: absolute;
  left: 33%;
  z-index: $top;
  transform: translateY(-35%);
}

.introBlobWrapper {
  position: absolute;
  top: -84%;
  left: 16%;

  @include tablet {
    top: -79%;
    left: 4%;
  }
}

.introSmallBlobWrapper {
  position: absolute;
  right: -120px;
  top: -121px;
  transform: rotate(-29deg);
}

.friendlyPlacesBlobWrapper {
  position: absolute;
  left: -11%;
  top: -60%;
  transform: rotate(-45deg);
}

.cattoBlobWrapper {
  position: absolute;
  top: 30px;
  bottom: 0;
  left: 0;
  right: 0;
  overflow: hidden;
}

.cattoBlob {
  position: absolute;
  right: 12%;
  top: -75%;
}

.cattoBlobTwo {
  top: -80%;
  right: 15%;
}

.filtersBlob {
  position: absolute;
  right: 2%;
  top: -32%;

  svg {
    stroke: white;
  }
}

.pinnedBlob {
  position: absolute;
  top: 20%;
  left: -16%;

  @include tablet {
    top: 0;
    left: -26%;
  }

  @include mobile {
    top: 80%;
    left: 25%;
  }
}

.friendlyPlacesPhoneMock {
  @include tablet {
    padding-left: 4em;
  }

  @include mobile {
    padding-left: 0;
  }
}

.appButton {
  position: fixed;
  top: auto;
  right: 20px;
  height: 70px;
  width: 70px;
  border-radius: 50%;
  bottom: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  text-align: center;
  background: $mobileAppButtonBackground;
}