@import 'src/styles/variables';

.topbar {
  padding: 0 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: absolute;
  top: 35px;
  left: 0;
  right: 0;
  z-index: $topmost;

  @media (max-width: 768px) {
    padding: 0 25px;
  }
}


.left-logo {
  padding-top: 35px;
  max-width: 52px;

  @media (max-width: 768px) {
    padding-top: 10px;
  }
}

.backblob {
  height: auto;
  width: 200px;
  position: absolute;
  top: -107px;
  right: -130px;
  transform: rotate(-17deg);

  @media (max-width: 768px) {
    display: none;
  }
}

