//color values
$default-red: #fd1857;
$black: #000;
$white: #fff;
$browser-context: 16;

//color names as per http://chir.ag/projects/name-that-color
$silver-chalice: #b0b0b0;


//z-stack layers
$topmost: 99999;
$bottom: 99;
$middle: 999;
$top: 9999;