@import 'src/styles/variables';
@import 'src/styles/typography';

$filter-icon-color: $white;

.filter {
  @extend %font-size-copy;

  color: $filter-icon-color;
  margin: 0 em(10px, 14px) em(50px, 14px);
  width: em(85px, 14px);
  display: flex;
  align-items: center;
  flex-flow: column nowrap;
}

.caption {
  @extend %font-size-small;

  margin-top: em(10px, 11px);
  text-align: center;
}
