@import 'src/styles/variables';
@import 'src/styles/responsive';

$topbarmenu-background: $default-red;

.topbarMenuWrapper {
  display: flex;
  flex-flow: row;
  position: fixed;
  right: 35px;

  @include mobile {
    position: absolute;
    right: 0;
  }
}

.topbarmenu {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  -webkit-transform: translate3d(0,0,0);

  @include mobile {
    flex-flow: column;
  }
}

.topbarIcon {
  margin-right: em(35px);
}

.pages {
  display: flex;
}

.topbarButtonWrapper {

  @include mobile {
    display: none;
  }
}